<div class="card">
  <div class="card-body">
    <% comments.each do |comment| %>
      <div class="d-flex justify-content-between w-100 border-bottom py-3 align-items-center">
        <p class="m-0"><b><%= comment.author.name %></b>: <%= comment.text %></p>
         <%= link_to 'Delete', destroy_user_comment_path(user_id, post_id, comment.id), class: 'btn btn-danger', data: { turbo_method: :delete } if can? :destroy, comment %>
      </div>
    <% end %>
  </div>
</div>